header, footer, section {
    font-family: Oswald;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    min-height: 100px;
    font-size: 20px;
}

header h1 {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    font-weight: 700;
    font-size: 30px;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header .col-lg-8,
footer .col-lg-8 {
    display: flex;
    justify-content: flex-end;
}

header .col-lg-4,
footer .col-lg-4 {
    display: flex;
    justify-content: left;
}

header a {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding: 10px;
    margin: 10px;
}

header.shrink {
    min-height: 50px;
}

header.shrink a {
    display: flex;
    align-item: center;
    border: none;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
}

header.shrink h1 {
    font-size: 20px;
}

footer a {
    margin: 20px;
}

footer img {
    height: 40px;
    width: 40px;
    margin: auto;
}

footer ul,
section ul {
    list-style: none;
}

section h1{
    margin-top: 50px;
    padding-top: 50px;
}

section p{
    font-size: large;
}
section ul{
    margin-bottom: 20px;
}

.nav-btn {
    color: black;
    font-weight: 300;
}

.nav-btn:hover {
    color: white;
    text-decoration: none;
    background-color: black;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("../media/Jumbotron.jpeg");
    background-size: cover;
    background-position: top;
    height: 500px;

}
.jumbotron h2{
    text-align: center;
    color: white;
}

.col-lg-1 {
    display: block;
    align-items: center;
    align-content: center;
}

.col-lg-6 img, .col-lg-6 video {
    width: 100%;
    object-position: center center;
}

.rozwin-button, .zwin-button{
    cursor: pointer;
}
.hide {
    display: none;
}

#tasks{
    list-style: disc;
}

#face{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 300px;
}
#intro{
    text-align: justify;
    text-justify: auto;
}